.product-details-image-container {
  text-align: center;
  margin-top: 10px;
}

.product-details-image{
  height: 240px;
}

.product-details-description-container {
  margin-top: 10px;
  margin-left: -9px;
  background-color: white;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  padding: 35px 17px 50px 33px;
  max-width: 325px;
}

.product-details-name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.product-details-information {
  color: #969696;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}

.product-details-readmore-button{
  all: unset;
  color: #FF9F24;
  margin-left: 5px;
  font-weight: 400;
  cursor: pointer;
}

.product-details-options {
  text-align: center;
}

.badged-option {
  all: unset;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #969696;
  border-radius: 15px;
  color: #969696;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.badged-option-active {
  all: unset;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #FF9F24;
  border-radius: 15px;
  color: #FF9F24;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.badged-option:active {
  border: 1px solid #FF9F24;
  color: #FF9F24;
}

.product-details-actions {
  display: flex;
  margin-top: 50px;
  margin-bottom: 10px;
}

.product-details-cart-button {
  all: unset;
  border: 1px solid #FF9F24;
  width: 54px;
  height: 54px;
  border-radius: 12px;
  display: grid;
  place-items: center; 
  cursor: pointer;
}

.product-details-addtocart-button {
  all: unset;
  background-color: #FF9F24;
  color: white;
  text-align: center;
  flex-grow: 1;
  border-radius: 12px;
  margin-left: 24px;
  cursor: pointer;
}
